In [1]:
import numpy as np

ImportError: cannot import name 'add_newdocs'

In [2]:
np.arange(10)        # arange will make an array upto the given range.It doesnot accept "[]"

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [4]:
arr = np.array([[1,2,3] , [4,5,6] , [7,8,9]])     # array function can create 1D([]) ,2D([[]]),3D arrays ([[[]]])

In [5]:
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [7]:
print(arr.dtype)               # dtype shows Data Type
print(arr.shape)              # shape() shows the no. of rows and column
print(arr.ndim)               # ndim() shows the dimension of the array

int32
(3, 3)
2

In [9]:
np.zeros(10)        # This will create array of 0 upto the given range

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [13]:
np.zeros((2,4))              #Initiliaze array of 0s with 2 rows and 4 columns

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [14]:
a = np.zeros((2,4,3) , dtype = np.int)            #Initiliazing 3D array of 0s with Two 2D arrays + 4 rows and 3 columns
a

array([[[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0],
        [0, 0, 0]]])

In [4]:
print(a.dtype)
print(a)
print(a.ndim)

int32
[[[0 0 0]
  [0 0 0]
  [0 0 0]
  [0 0 0]]

 [[0 0 0]
  [0 0 0]
  [0 0 0]
  [0 0 0]]]
3

In [20]:
np.ones(20)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1.])

In [24]:
np.empty((2,3,2))

array([[[1.41119733e-311, 3.16202013e-322],
        [0.00000000e+000, 0.00000000e+000],
        [0.00000000e+000, 2.00498165e-052]],

       [[8.01386875e+165, 3.73314146e-033],
        [2.34303798e-056, 9.89809529e+164],
        [4.42513561e-062, 1.48507969e-076]]])

In [5]:
np.arange((2,2,2))        # np.arange takes scalar value and doesn't support tuple

TypeError: arange: scalar arguments expected instead of a tuple.

# Table 1 :  Array creation functions

### Functions   

###### array        
<br>         Convert input data (list, tuple, array, or other sequence type)                                                                 to an ndarray either by inferring a dtype or explicitly                                                                         specifying a dtype; copies the input data by default

###### asarray   
<br>            Convert input to ndarray, but do not copy if the input is already an ndarray

###### arange    
<br>            Like the built-in range but returns an ndarray instead of a list

###### ones,   
<br>             Produce an array of all 1s with the given shape and dtype; 

###### ones_like   
<br>         ones_like takes another array and produces a ones array of the same shape and dtype
    
###### zeros, zeros_like 
<br>            Like ones and ones_like but producing arrays of 0s instead


###### empty , empty_like  
<br>             Create new arrays by allocating new memory, but do not populate with any values like ones and


###### full,   
<br>             Produce an array of the given shape and dtype with all values set to the indicated “fill value”
###### full_like  
<br>           full_like takes another array and produces a filled array of the same shape and dtype


###### eye, identity  
<br>       Create a square N × N identity matrix (1s on the diagonal and 0s elsewhere)

# Table 2 :  NumPy data types
## Type     &emsp; &emsp;  Type Code

###### int8, uint8      &emsp; &emsp; &emsp; &emsp;             i1, u1 
<br> Signed and unsigned 8-bit (1 byte) integer types
###### int16, uint16    &emsp; &emsp; &emsp; &emsp;           i2, u2 
<br> Signed and unsigned 16-bit integer types
###### int32, uint32    &emsp; &emsp; &emsp; &emsp;           i4, u4 
<br> Signed and unsigned 32-bit integer types
###### int64, uint64     &emsp; &emsp; &emsp; &emsp;         i8, u8 
<br> Signed and unsigned 64-bit integer types
###### float16   &emsp; &emsp; &emsp; &emsp;                    f2 
<br> Half-precision floating point
###### float32     &emsp; &emsp; &emsp; &emsp;                 f4 or f 
<br> Standard single-precision floating point; compatible with C float
###### float64     &emsp; &emsp; &emsp; &emsp;                f8 or d 
<br> Standard double-precision floating point; compatible with C double and Python float object
###### float128     &emsp; &emsp; &emsp; &emsp;             f16 or g 
<br> Extended-precision floating point
###### complex64 , complex128 , complex256        &emsp; &emsp; &emsp; &emsp;                       c8 , c16 , c32
<br> Complex numbers represented by two 32, 64, or 128 floats, respectively
###### bool   &emsp; &emsp; &emsp; &emsp;                     ? 
<br> Boolean type storing True and False values
###### object    &emsp; &emsp; &emsp; &emsp;                 O 
<br> Python object type; a value can be any Python object
###### string_    &emsp; &emsp; &emsp; &emsp;              S 
<br> Fixed-length ASCII string type (1 byte per character); for example, to create a string dtype with length 10, use 'S10'
###### unicode_     &emsp; &emsp; &emsp; &emsp;          U 
<br> Fixed-length Unicode type (number of bytes platform specific); same specification semantics as string_ (e.g., 'U10')

In [37]:
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [41]:
arr.astype(np.float64)  #You can explicitly convert or cast an array from one dtype to another using ndarray’s astype method

array([[1., 2., 3.],
       [4., 5., 6.],
       [7., 8., 9.]])

In [42]:
brr = np.array([3.7, -1.2, -2.6, 0.5, 12.9, 10.1])

In [43]:
brr

array([ 3.7, -1.2, -2.6,  0.5, 12.9, 10.1])

In [45]:
brr.astype(int)   #Converting float into int will truncate the value

array([ 3, -1, -2,  0, 12, 10])

In [50]:
#If you have an array of strings representing numbers, you can use astype to convert them to numeric form

numeric_strings = np.array(['1.25', '-9.6', '42'], dtype=np.string_)
numeric_strings

array([b'1.25', b'-9.6', b'42'], dtype='|S4')

In [51]:
numeric_strings.astype(float)

array([ 1.25, -9.6 , 42.  ])

# Arithmetic with NumPy Arrays

In [53]:
arr = np.array([[1., 2., 3.], [4., 5., 6.]])
arr.astype(int)            #Wont change original array's data type if not assigned

array([[1, 2, 3],
       [4, 5, 6]])

In [54]:
arr * 2

array([[ 2.,  4.,  6.],
       [ 8., 10., 12.]])

In [55]:
arr = arr.astype(int)    #By assigning into new variable it astype will change the datatype permanently
arr

array([[1, 2, 3],
       [4, 5, 6]])

In [56]:
arr * 2

array([[ 2,  4,  6],
       [ 8, 10, 12]])

In [60]:
arr    # with new data type

array([[1, 2, 3],
       [4, 5, 6]])

In [61]:
arr * arr

array([[ 1,  4,  9],
       [16, 25, 36]])

In [62]:
1/arr

array([[1.        , 0.5       , 0.33333333],
       [0.25      , 0.2       , 0.16666667]])

In [63]:
arr ** 3

array([[  1,   8,  27],
       [ 64, 125, 216]], dtype=int32)

#### Comparisons between arrays of the same size yield boolean arrays

In [65]:
arr2 = np.array([[0, 4, 1], [7, 2, 12]])
arr2

array([[ 0,  4,  1],
       [ 7,  2, 12]])

In [66]:
arr > arr2

array([[ True, False,  True],
       [False,  True, False]])

# Basic Indexing and Slicing

In [67]:
 arr = np.arange(10)

In [68]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [69]:
 arr[5]

5

In [70]:
arr[5:8]

array([5, 6, 7])

In [73]:
''' An important first distinction from Python’s built-in lists is that array slices are views on the original array.
This means that the data is not copied, and any modifications to the view will be reflected in the source array '''

arr[5:8] = 12

In [74]:
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12,  8,  9])

In [76]:
check = arr[5:8]
check

array([12, 12, 12])

In [77]:
check[1] = 1000
check

array([  12, 1000,   12])

In [78]:
arr        #Change has been reflected in the original sourced array

array([   0,    1,    2,    3,    4,   12, 1000,   12,    8,    9])

In [80]:
check[:] = 64       #The “bare” slice [:] will assign to all values in an array
check

array([64, 64, 64])

In [81]:
arr

array([ 0,  1,  2,  3,  4, 64, 64, 64,  8,  9])

# Indexing and Slicing on Multi Dimensional Array

In [28]:
arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [83]:
arr2d[2]

array([7, 8, 9])

In [84]:
arr2d[0][2]        # 1st way

3

In [85]:
arr2d[0,2]         # 2nd way

3

In [19]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [20]:
arr3d[0]

array([[1, 2, 3],
       [4, 5, 6]])

In [26]:
# due to copy function arr3d ki copy bnke old values main store hojaegi jb arr3d ko update karenge
# to oska effect copy() ki waja se old_values pe nhi aega . Agar copy() use nhi krte to arr3d modify krne se old_values bhi
# automatically modify hojati

old_values = arr3d[0].copy()  
arr3d[0] = 42
arr3d

array([[[42, 42, 42],
        [42, 42, 42]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [25]:
arr3d[0] = old_values
arr3d[0]

array([[42, 42, 42],
       [42, 42, 42]])

In [23]:
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [107]:
old_values

array([[1, 2, 3],
       [4, 5, 6]])

In [108]:
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [109]:
arr3d[1, 0]           # same as arr3d[1][0]

array([7, 8, 9])

In [110]:
arr3d[0]

array([[1, 2, 3],
       [4, 5, 6]])

In [111]:
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [112]:
arr2d[:2]

array([[1, 2, 3],
       [4, 5, 6]])

###### You can pass multiple slices just like you can pass multiple indexes .

In [117]:
arr2d[:2, 1:]             # :2 will put effect in row , 1: will put effect in column

array([[2, 3],
       [5, 6]])

###### I can select the second row but only the first two columns like so

In [118]:
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [119]:
arr2d[1, :2]          # 1 will take the row of index 1  , :2 will select the column upto the index no. 1

array([4, 5])

In [120]:
arr2d[:2, 2]

array([3, 6])

###### Note that a colon by itself means to take the entire axis, so you can slice only higher dimensional axes by doing

In [121]:
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [122]:
arr2d[:, :1]

array([[1],
       [4],
       [7]])

# Boolean Indexing

In [125]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
names

array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'], dtype='<U4')

In [126]:
data = np.random.randn(7, 4)    # This will create random numbers based on 7 rows and 4 columns
data

array([[ 1.29507065, -0.96896206,  1.18061563, -1.97354254],
       [ 0.82780168,  0.70408888, -0.28995592,  1.32483428],
       [ 1.1624114 , -0.50280205,  1.09071043,  0.38525713],
       [ 0.73722466,  0.63384453,  0.36743131, -0.85260414],
       [ 0.31178246, -1.05080992,  0.4321985 , -0.491248  ],
       [ 1.50953534, -0.18345625, -0.41013546,  0.79051239],
       [ 2.46075506, -0.88475895, -2.50435073,  0.23381847]])

###### Suppose each name corresponds to a row in the data array and we wanted to select all the rows with corresponding name 'Bob'. Like arithmetic operations, comparisons (such as ==) with arrays are also vectorized. Thus, comparing names with the string 'Bob' yields a boolean array

In [127]:
names == 'Bob'

array([ True, False, False,  True, False, False, False])

###### This boolean array can be passed when indexing the array

In [128]:
# names ki value jahan jahan TRUE hogi wohi row bnke data ki row extract hojaegi
# For example names k 0 index True h to data ka 0 index extract hojaega isi tarhan 3rd index 
# true h to data ka 3rd extract hojaega

data[names == 'Bob']

array([[ 1.29507065, -0.96896206,  1.18061563, -1.97354254],
       [ 0.73722466,  0.63384453,  0.36743131, -0.85260414]])

In [129]:
data[names == 'Bob', 2:]

array([[ 1.18061563, -1.97354254],
       [ 0.36743131, -0.85260414]])

In [130]:
data[names == 'Bob', 3]

array([-1.97354254, -0.85260414])

###### To select everything but 'Bob', you can either use != or negate the condition using ~

In [131]:
names != 'Bob'

array([False,  True,  True, False,  True,  True,  True])

In [134]:
data

array([[ 1.29507065, -0.96896206,  1.18061563, -1.97354254],
       [ 0.82780168,  0.70408888, -0.28995592,  1.32483428],
       [ 1.1624114 , -0.50280205,  1.09071043,  0.38525713],
       [ 0.73722466,  0.63384453,  0.36743131, -0.85260414],
       [ 0.31178246, -1.05080992,  0.4321985 , -0.491248  ],
       [ 1.50953534, -0.18345625, -0.41013546,  0.79051239],
       [ 2.46075506, -0.88475895, -2.50435073,  0.23381847]])

In [138]:
#print all rows and column except BOB

data[(names != 'Bob')]    # 1st way

array([[ 0.82780168,  0.70408888, -0.28995592,  1.32483428],
       [ 1.1624114 , -0.50280205,  1.09071043,  0.38525713],
       [ 0.31178246, -1.05080992,  0.4321985 , -0.491248  ],
       [ 1.50953534, -0.18345625, -0.41013546,  0.79051239],
       [ 2.46075506, -0.88475895, -2.50435073,  0.23381847]])

In [139]:
data[~(names == 'Bob')]           # 2nd way

array([[ 0.82780168,  0.70408888, -0.28995592,  1.32483428],
       [ 1.1624114 , -0.50280205,  1.09071043,  0.38525713],
       [ 0.31178246, -1.05080992,  0.4321985 , -0.491248  ],
       [ 1.50953534, -0.18345625, -0.41013546,  0.79051239],
       [ 2.46075506, -0.88475895, -2.50435073,  0.23381847]])

###### Selecting two of the three names to combine multiple boolean conditions,use boolean arithmetic operators like & (and) and | (or)

##### Note : The Python keywords and and or do not work with boolean arrays. Use & (and) and | (or) instead.

In [141]:
names

array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'], dtype='<U4')

In [142]:
mask = (names == 'Bob') | (names == 'Will')

In [143]:
mask

array([ True, False,  True,  True,  True, False, False])

In [144]:
data

array([[ 1.29507065, -0.96896206,  1.18061563, -1.97354254],
       [ 0.82780168,  0.70408888, -0.28995592,  1.32483428],
       [ 1.1624114 , -0.50280205,  1.09071043,  0.38525713],
       [ 0.73722466,  0.63384453,  0.36743131, -0.85260414],
       [ 0.31178246, -1.05080992,  0.4321985 , -0.491248  ],
       [ 1.50953534, -0.18345625, -0.41013546,  0.79051239],
       [ 2.46075506, -0.88475895, -2.50435073,  0.23381847]])

In [145]:
data[mask]

array([[ 1.29507065, -0.96896206,  1.18061563, -1.97354254],
       [ 1.1624114 , -0.50280205,  1.09071043,  0.38525713],
       [ 0.73722466,  0.63384453,  0.36743131, -0.85260414],
       [ 0.31178246, -1.05080992,  0.4321985 , -0.491248  ]])

In [149]:
data[data < 0] = 0

In [154]:
data = data.astype(int)

In [155]:
data

array([[1, 0, 1, 0],
       [0, 0, 0, 1],
       [1, 0, 1, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [1, 0, 0, 0],
       [2, 0, 0, 0]])

# Fancy Indexing

In [29]:
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [30]:
arr2d[[1,2]]

array([[4, 5, 6],
       [7, 8, 9]])

In [32]:
a = np.array([ [1,2,3] , [4,5,6] , [7,8,9] , [10,11,12] , [13,14,15] ])

In [33]:
a

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15]])

In [36]:
a[[1,2,3,4]]   # when u want to give multiple indexing then u have to put the values in [[]]

array([[ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15]])

######  Using negative indices selects rows from the end

In [37]:
a[[-5, -3, -4]]    # -5 will select the 1st row , -3 will select 3rd row , -4 will select [4,5,6]

array([[1, 2, 3],
       [7, 8, 9],
       [4, 5, 6]])

In [171]:
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [176]:
#arange will create an array upto range 32-1 = 31 , then reshape will give a desired shape that is 8 rows and 4 column
arr2d = np.arange(32).reshape((8, 4))

In [177]:
arr2d

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31]])

In [179]:
 # In fancy indexing style element by element matching hogi [1,0] -> 4 , [5,3] -> 23 , [7,1] -> 29 , [2,2] -> 10 
arr2d[[1, 5, 7, 2], [0, 3, 1, 2]]

array([ 4, 23, 29, 10])

In [180]:
# 1 index (2nd row [4,5,6,7]) poori leke [0,3,1,2] k columns match karega to output 1->0 = 4 , 1->3 = 7 , 1->1 = 5 , 1 ->2 = 6
# and so on

arr2d[[1, 5, 7, 2]][:, [0, 3, 1, 2]]

array([[ 4,  7,  5,  6],
       [20, 23, 21, 22],
       [28, 31, 29, 30],
       [ 8, 11,  9, 10]])

# Transposing Arrays and Swapping Axes

Transposing is a special form of reshaping that similarly returns a view on the underlying data without copying anything. 
###### Arrays have the transpose method and also the special T attribute

In [2]:
import numpy as np

In [3]:
arr = np.arange(15).reshape((3, 5))

In [4]:
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [5]:
arr.T

array([[ 0,  5, 10],
       [ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14]])

In [7]:
np.dot(arr.T , arr)

array([[125, 140, 155, 170, 185],
       [140, 158, 176, 194, 212],
       [155, 176, 197, 218, 239],
       [170, 194, 218, 242, 266],
       [185, 212, 239, 266, 293]])

###### For higher dimensional arrays, transpose will accept a tuple of axis numbers to permute the axes (for extra mind bending)

In [25]:
import numpy as np
arr = np.arange(16).reshape((2,2,4))

In [26]:
arr

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]]])

In [30]:
# transpose main as an argument jo 3 values (1,0,2) pass hoey hain wo reshape ki values (2,2,4) ki according chlengi
# (2,2,4) k indexes (0,1,2) hain to transpose main (1,0,2) actually (2,2,4) ko point kr rhe hain is waja se 'arr'
# two 2d arrays , 2 rows or 4 columns main transpose hojaega   

arr.transpose((1,0,2))

array([[[ 0,  1,  2,  3],
        [ 8,  9, 10, 11]],

       [[ 4,  5,  6,  7],
        [12, 13, 14, 15]]])

In [28]:
# Similarly (0,1,2) -> reshape (2,2,4) ko point kr rha h to is waja se 'arr' two 2d arrays , 2 rows or 4 columns 
# main transpose hojaega   

arr.transpose((0,1,2))

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]]])

In [29]:
# # Similarly (0,2,1) -> reshape (2,4,2) ko point kr rha h to is waja se 'arr' two 2d arrays , 4 rows or 2 columns 
# main transpose hojaega
arr.transpose((0,2,1))

array([[[ 0,  4],
        [ 1,  5],
        [ 2,  6],
        [ 3,  7]],

       [[ 8, 12],
        [ 9, 13],
        [10, 14],
        [11, 15]]])

In [39]:
arr.T

array([[[ 0,  8],
        [ 4, 12]],

       [[ 1,  9],
        [ 5, 13]],

       [[ 2, 10],
        [ 6, 14]],

       [[ 3, 11],
        [ 7, 15]]])

###### Simple transposing with .T is a special case of swapping axes. ndarray has the method swapaxes, which takes a pair of axis numbers and switches the indicated axes to rear range the data

In [6]:
arr

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]]])

In [7]:
arr.swapaxes(0,1)

array([[[ 0,  1,  2,  3],
        [ 8,  9, 10, 11]],

       [[ 4,  5,  6,  7],
        [12, 13, 14, 15]]])

In [10]:
a = arr.swapaxes(1,2)
a

array([[[ 0,  4],
        [ 1,  5],
        [ 2,  6],
        [ 3,  7]],

       [[ 8, 12],
        [ 9, 13],
        [10, 14],
        [11, 15]]])

In [9]:
arr

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]]])

###### swapaxes similarly returns a view on the data without making a copy

 # Universal Functions: Fast Element-Wise Array Functions
 
A universal function, or ufunc, is a function that performs element-wise operations
on data in ndarrays

In [45]:
arr = np.arange(10)

In [46]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [49]:
np.sqrt(arr)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [50]:
np.exp(arr)

array([1.00000000e+00, 2.71828183e+00, 7.38905610e+00, 2.00855369e+01,
       5.45981500e+01, 1.48413159e+02, 4.03428793e+02, 1.09663316e+03,
       2.98095799e+03, 8.10308393e+03])

###### These are referred to as unary ufuncs. Others, such as add or maximum, take two arrays (thus, binary ufuncs) and return a single array as the result

In [51]:
x = np.random.randn(8)
y = np.random.randn(8)

In [52]:
x

array([ 0.33725593,  0.05015454, -1.13449403,  0.27223998,  1.66443186,
       -0.02804226,  0.69739046,  0.91451853])

In [53]:
y

array([ 0.31698755,  0.5546545 ,  0.06062484, -0.45510174,  0.8124914 ,
        0.28026674,  0.33264067,  0.03542109])

In [54]:
np.maximum(x,y)

array([0.33725593, 0.5546545 , 0.06062484, 0.27223998, 1.66443186,
       0.28026674, 0.69739046, 0.91451853])

In [55]:
np.add(x,y)

array([ 0.65424349,  0.60480905, -1.07386919, -0.18286176,  2.47692326,
        0.25222448,  1.03003113,  0.94993961])

###### a ufunc can return multiple arrays. modf is one example, a vectorized version of the built-in Python divmod; it returns the fractional and integral parts of a floating-point array

In [59]:
arr = np.array([1.2334,2.4230,3.045])
arr

array([1.2334, 2.423 , 3.045 ])

In [60]:
remainder, whole_part = np.modf(arr)

In [61]:
remainder

array([0.2334, 0.423 , 0.045 ])

In [62]:
whole_part

array([1., 2., 3.])

# Table 3 : Unary ufuncs
## Function 
###### abs
fabs Compute the absolute value element-wise for integer, floating-point, or complex values
###### sqrt 
Compute the square root of each element (equivalent to arr ** 0.5)
###### square
Compute the square of each element (equivalent to arr ** 2)
###### exp 
Compute the exponent ex of each element
###### log, log10,log2, log1p
Natural logarithm (base e), log base 10, log base 2, and log(1 + x), respectively
###### sign 
Compute the sign of each element: 1 (positive), 0 (zero), or –1 (negative)
###### ceil
Compute the ceiling of each element (i.e., the smallest integer greater than or equal to that number)
###### floor 
Compute the oor of each element (i.e., the largest integer less than or equal to each element)
###### rint 
Round elements to the nearest integer, preserving the dtype
###### modf 
Return fractional and integral parts of array as a separate array
###### isnan 
Return boolean array indicating whether each value is NaN (Not a Number)
###### isfinite , isinf 
Return boolean array indicating whether each element is finite (non-inf, non-NaN) or infinite,respectively
###### cos, cosh, sin, sinh, tan, tanh
Regular and hyperbolic trigonometric functions
###### arccos, arccosh , arcsin , arcsinh , arctan , arctanh
Inverse trigonometric functions
###### logical_not 
Compute truth value of not x element-wise (equivalent to ~arr).

# Table 4 : Binary universal functions
## Function

###### add 
Add corresponding elements in arrays
###### subtract 
Subtract elements in second array from first array
###### multiply 
Multiply array elements
###### divide, floor_divide
Divide or floor divide (truncating the remainder)
###### power 
Raise elements in first array to powers indicated in second array
###### maximum, fmax 
Element-wise maximum; fmax ignores NaN
###### minimum, fmin 
Element-wise minimum; fmin ignores NaN
###### mod 
Element-wise modulus (remainder of division)
###### copysign 
Copy sign of values in second argument to values in first argument
###### greater, greater_equal, less, less_equal, equal, not_equal
Perform element-wise comparison, yielding boolean array (equivalent to infix operators >, >=, <, <=, ==, !=)
###### logical_and , logical_or , logical_xor
Compute element-wise truth value of logical operation (equivalent to infix operators & |, ^)

 # Expressing Conditional Logic as Array Operations
 
###### The numpy.where function is a vectorized version of the ternary expression x if condition else y. Suppose we had a boolean array and two arrays of values

In [63]:
xarr = np.array([1.1, 1.2, 1.3, 1.4, 1.5])
yarr = np.array([2.1, 2.2, 2.3, 2.4, 2.5])
cond = np.array([True, False, True, True, False])

###### Suppose we wanted to take a value from xarr whenever the corresponding value in cond is True, and otherwise take the value from yarr. A list comprehension doing this might look like

In [64]:
#agar 1st argument ki condition true hoi to 2nd argument run hoga , agar false hoi to 3rd run hoga
result = np.where(cond, xarr, yarr)    
result

array([1.1, 2.2, 1.3, 1.4, 2.5])

The second and third arguments to np.where don’t need to be arrays; one or both of them can be scalars

In [65]:
arr = np.random.randn(4, 4)
arr

array([[ 0.90303167,  0.5679419 ,  0.03514209,  0.16883254],
       [ 0.64764369,  1.86685356, -0.16035306,  1.81664573],
       [ 0.80567442,  0.21466918,  1.36350721, -0.36337159],
       [ 2.04548164,  1.03058003,  1.07012991, -0.31283826]])

In [66]:
arr > 0

array([[ True,  True,  True,  True],
       [ True,  True, False,  True],
       [ True,  True,  True, False],
       [ True,  True,  True, False]])

In [67]:
# jahan jahan arr main element ki value greater than 0 hogi wahan 2 ajaega .
np.where(arr > 0, 2, -2)

array([[ 2,  2,  2,  2],
       [ 2,  2, -2,  2],
       [ 2,  2,  2, -2],
       [ 2,  2,  2, -2]])

# Mathematical and Statistical Methods

###### You can use aggregations (often called reductions) like sum, mean, and std (standard deviation) either by calling the array instance method or using the top-level NumPy function

In [68]:
arr

array([[ 0.90303167,  0.5679419 ,  0.03514209,  0.16883254],
       [ 0.64764369,  1.86685356, -0.16035306,  1.81664573],
       [ 0.80567442,  0.21466918,  1.36350721, -0.36337159],
       [ 2.04548164,  1.03058003,  1.07012991, -0.31283826]])

In [69]:
arr.mean()

0.7312231661010948

In [70]:
arr.sum()

11.699570657617517

In [71]:
np.sum(arr)

11.699570657617517

###### Functions like mean and sum take an optional axis argument that computes the statistic over the given axis, resulting in an array with one fewer dimension

In [72]:
arr.mean(axis=1)   #compute mean across the columns (each row)

array([0.41873705, 1.04269748, 0.50511981, 0.95833833])

In [73]:
arr.mean(axis=0)   #compute mean down the rows

array([1.10045786, 0.92001117, 0.57710654, 0.3273171 ])

In [75]:
arr.sum(axis=1)

array([1.6749482 , 4.17078992, 2.02047923, 3.83335331])

###### Other methods like cumsum and cumprod do not aggregate, instead producing an array of the intermediate results

In [76]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7])
arr

array([0, 1, 2, 3, 4, 5, 6, 7])

In [85]:
arr2 = np.array([1,2,2,3,4])

In [86]:
arr2.cumprod()    # cumsum and cumprod always returns an array

array([ 1,  2,  4, 12, 48], dtype=int32)

In [77]:
arr.cumsum()   # [0 , 0+1 = 1 , 1+2 = 3 , 3+3 = 6 , 6+4 = 10 , 10+5 = 15 and so on ]

array([ 0,  1,  3,  6, 10, 15, 21, 28], dtype=int32)

In [78]:
np.cumsum(arr)

array([ 0,  1,  3,  6, 10, 15, 21, 28], dtype=int32)

###### In multidimensional arrays, accumulation functions like cumsum return an array of the same size, but with the partial aggregates computed along the indicated axis according to each lower dimensional slice

In [79]:
arr = np.array([[0, 1, 2], [3, 4, 5], [6, 7, 8]])
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [80]:
# 1st row as it is , 2nd row will compute like this : 0+3=3,1+4 = 5 , 2+5 = 7 , Similarly 3rd row 3+6 =9 , 5+7 = 12 , 8+7 = 15
arr.cumsum(axis=0)

array([[ 0,  1,  2],
       [ 3,  5,  7],
       [ 9, 12, 15]], dtype=int32)

In [81]:
# 1st col as it is , 2nd col will compute like this : 0+1=1 ,3+4 = 7 , 6+7 = 13 , Similarly 3rd col 1+2 =3,7+5=12 , 8+13 = 21
arr.cumsum(axis=1)

array([[ 0,  1,  3],
       [ 3,  7, 12],
       [ 6, 13, 21]], dtype=int32)

# Table 5 : Basic array statistical methods
## Method

###### sum 
Sum of all the elements in the array or along an axis; zero-length arrays have sum 0
###### mean 
Arithmetic mean; zero-length arrays have NaN mean
###### std, var
Standard deviation and variance, respectively, with optional degrees of freedom adjustment (default denominator n)
###### min, max
Minimum and maximum
###### argmin, argmax 
Indices of minimum and maximum elements, respectively
###### cumsum 
Cumulative sum of elements starting from 0
###### cumprod 
Cumulative product of elements starting from 1

# Methods for Boolean Arrays
Boolean values are coerced to 1 (True) and 0 (False) in the preceding methods. Thus,
sum is often used as a means of counting True values in a boolean array

In [1]:
import numpy as np

In [6]:
arr = np.array([0,2,-1,-4,3,1])
arr

array([ 0,  2, -1, -4,  3,  1])

In [7]:
 (arr > 0).sum()   #sum gives the number of true values i.e 2,3,1

3

There are two additional methods, any and all, useful especially for boolean arrays any tests whether one or more values in an array is True, while all checks if every value is True

In [8]:
arr.any()

True

In [10]:
arr.all()

False

In [11]:
bools = np.array([False, False, False, False])

In [12]:
bools.any()

False

In [13]:
bools.all()

False

# Unique and Other Set Logic
NumPy has some basic set operations for one-dimensional ndarrays. A commonly used one is np.unique, which returns the sorted unique values in an array

In [14]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
names

array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'], dtype='<U4')

In [18]:
np.unique(names)    #It returns sorted unque values

array(['Bob', 'Joe', 'Will'], dtype='<U4')

###### By doing experiment I found that unique() can not work on 2D arrays , If I make a 2D array with repeating elements then it returns list object

In [25]:
num = np.array([[1,2,3,2,3],[4,2,5,6,4,7,5]])
np.unique(num)

array([list([1, 2, 3, 2, 3]), list([4, 2, 5, 6, 4, 7, 5])], dtype=object)

In [35]:
ints = np.array([3, 3, 3, 2, 2, 1, 1, 4, 4])
ints

array([3, 3, 3, 2, 2, 1, 1, 4, 4])

In [36]:
np.unique(ints)

array([1, 2, 3, 4])

In [37]:
# Doing the same task using pure python approach

set(ints)

{1, 2, 3, 4}

In [39]:
sorted(set(ints))

[1, 2, 3, 4]

###### Another function, np.in1d, tests membership of the values in one array in another,returning a boolean array

In [40]:
values = np.array([6, 0, 0, 3, 2, 5, 6])  #It will show true , where it finds 2,3 and 6
np.in1d(values, [2, 3, 6])

array([ True, False, False,  True,  True, False,  True])

In [45]:
# Doing the same in python style 

2 in values

True

# Table 6 : Array set operations
## Method

###### unique(x) 
Compute the sorted, unique elements in x
###### intersect1d(x, y) 
Compute the sorted, common elements in x and y
###### union1d(x, y) 
Compute the sorted union of elements
###### in1d(x, y)
Compute a boolean array indicating whether each element of x is contained in y
###### setdiff1d(x, y) 
Set difference, elements in x that are not in y
###### setxor1d(x, y) 
Set symmetric differences; elements that are in either of the arrays, but not both

In [47]:
a = np.array([1,2,34,5])
b = np.array([4,3,0,7,2,1])

In [48]:
np.intersect1d(a,b)    # extract the common values in both arrays

array([1, 2])

In [49]:
np.union1d(a,b)         #exttract the union or arrange both arrays

array([ 0,  1,  2,  3,  4,  5,  7, 34])

In [51]:
np.setdiff1d(a,b)    # Compare both arrays & return uncommon element from 1st array

array([ 5, 34])

In [53]:
 # Same as setdiff1d but extract from both arrays . It returns elements that are in either of the arrays, but not both.
np.setxor1d(a, b)

array([ 0,  3,  4,  5,  7, 34])

# File Input and Output with Arrays

###### np.save and np.load are the two workhorse functions for efficiently saving and loading array data on disk. Arrays are saved by default in an uncompressed raw binary format with file extension .npy

In [54]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [55]:
 np.save('some_array', arr)

If the file path does not already end in .npy, the extension will be appended. The array on disk can then be loaded with np.load

In [56]:
np.load('some_array.npy')

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

###### You save multiple arrays in an uncompressed archive using np.savez and passing the arrays as keyword arguments

In [57]:
np.savez('array_archive.npz', a=arr, b=arr)

In [58]:
arch = np.load('array_archive.npz')

In [60]:
arch['a']

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [61]:
arch['b']

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

#  Linear Algebra

In [63]:
x = np.array([[1, 2, 3], [4, 5, 6]])
y = np.array([[6, 23], [-1, 7], [8, 9]])

In [64]:
x

array([[1, 2, 3],
       [4, 5, 6]])

In [65]:
y

array([[ 6, 23],
       [-1,  7],
       [ 8,  9]])

In [67]:
x.dot(y)    # 1x6-2x1+3x8 = 28 , 1x23+2x7+3x9 = 64 , 4x6-5x1+6x8 = 67  , 4x23+5x7+6x9 = 181

array([[ 28,  64],
       [ 67, 181]])

# Table 7. Commonly used numpy.linalg functions
## Function 
###### diag 
Return the diagonal (or off-diagonal) elements of a square matrix as a 1D array, or convert a 1D array into a square matrix with zeros on the off-diagonal
###### dot 
Matrix multiplication
###### trace 
Compute the sum of the diagonal elements
###### det 
Compute the matrix determinant
###### eig
Compute the eigenvalues and eigenvectors of a square matrix
###### inv
Compute the inverse of a square matrix
###### pinv 
Compute the Moore-Penrose pseudo-inverse of a matrix
###### qr 
Compute the QR decomposition
###### svd
Compute the singular value decomposition (SVD)
###### solve
Solve the linear system Ax = b for x, where A is a square matrix
###### lstsq 
Compute the least-squares solution to Ax = b

# Pseudorandom Number Generation

# Table 8 : Partial list of numpy.random functions
## Function 
###### seed 
Seed the random number generator
###### permutation 
Return a random permutation of a sequence, or return a permuted range
###### shuffle
Randomly permute a sequence in-place
###### rand 
Draw samples from a uniform distribution
###### randint 
Draw random integers from a given low-to-high range
###### randn 
Draw samples from a normal distribution with mean 0 and standard deviation 1 (MATLAB-like interface)
###### binomial
Draw samples from a binomial distribution
###### normal 
Draw samples from a normal (Gaussian) distribution
###### beta 
Draw samples from a beta distribution
###### chisquare
Draw samples from a chi-square distribution
###### gamma 
Draw samples from a gamma distribution
###### uniform 
Draw samples from a uniform [0, 1) distribution

In [2]:
import numpy as np
arr = np.ones((10, 5))
arr

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [3]:
arr.shape

(10, 5)

######  Basics of numpy has been covered !